@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900,700);

*{
  margin:0;
  padding:0;
}

.logo{
  text-transform:uppercase;
  text-align:center;
  width:575px;
  margin:0 auto;
}

.title{
   font-family: 'Cardo', serif;
   letter-spacing:10px;
   font-size:5.525em;
   color:black;
   opacity:.85;
}

.border{
  border-top:3px solid #FF0033;
  display:block;
  margin-top:-25px;
  width:560px;
  -webkit-filter:blur(1px);
}

.sub{
  font-family: 'Pontano Sans', serif;
  letter-spacing:29px;
  font-size:1.85em;
  margin-left:9px;
  color:#FF0033;
  -webkit-filter:blur(1px);
}

body {
  background-color: #707070;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapperloading {
  position: absolute;
  height: 200px;
  width: 210px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  
}

.wrapperloading .text { 
  width:100%;
  text-align:center;
  color:white;
  font-size:2em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: -3px 3px 0 rgba(150,150,150,0.1);
  -webkit-transform: rotateX(20deg);
  
  -webkit-animation: hide 1s linear infinite;
  -moz-animation: hide 1s linear infinite;
  -o-animation: hide 1s linear infinite;
  animation: hide 1s linear infinite;
}

.wrapperloading .inner {
  width:200px;
  height:100%;
  -webkit-transform: rotateX(60deg);
  -moz-transform: rotateX(60deg);
  -o-transform: rotateX(60deg);
  transform: rotateX(60deg);
  margin-top:-30px;
}

.wrapperloading .loading.up {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 150px;
  border: 5px solid #fff;
  border-top-color: #fff;
  border-left-color: #555;
  border-right-color: #555;
  border-bottom-color: #fff;
  -webkit-animation: rotation 2s ease infinite;
  -moz-animation: rotation 2s ease infinite;
  -o-animation: rotation 2s ease infinite;
  animation: rotation 2s ease infinite;
}

.wrapperloading .loading.down {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border-radius: 150px;
  border: 3px solid #fff;
  border-left-color: #fff;
  border-top-color: #555;
  border-bottom-color: #555;
  border-right-color: #fff;
  -webkit-animation: rotation 2s ease infinite reverse;
  -moz-animation: rotation 2s ease infinite reverse;
  -o-animation: rotation 2s ease infinite reverse;
  animation: rotation 2s ease infinite reverse;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
s

* {
  color: #ffffff;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.menu {
  position: fixed;
  height: 100%;
  width: 220px;
  background: #707070;
  transition: width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 1;
}
.menu:hover {
  width: 220px;
}
.menuItem span {
  position: absolute;
  left: 80px;
  top: 20px;
  transition: color 1s;
  color: #000000;
}
.menu:hover .menuItem  span {
 color:#000000;
}
.menu:hover .menuItem:hover span {
 color:#ffffff;
}
.menuItem {
  position: relative;
  padding: 20px;
  transition: border .5s, background .2s, width .5s;
}
.menuItem:hover {
  background: #095e5f;
  cursor: pointer;
  width:220px;
  color: #00ffff;
}

.one {
  border-left: 5px solid #095e5f;
}
.one:hover {
  border-left: 20px solid #00ffff;
}
.two {
  border-left: 5px solid #095e5f;
}
.two:hover {
  border-left: 20px solid #00ffff;
}

.three {
  border-left: 5px solid #095e5f;
}
.three:hover {
  border-left: 20px solid #00ffff;
}

