body * {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	font-family: "Quicksand",serif;
}
h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
	font-weight:none;
}
.t2 { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.t3 { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.t4 { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.t5 { -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.t6 { -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out; }
.t9 { -webkit-transition: all 0.9s ease-out; -moz-transition: all 0.9s ease-out; -o-transition: all 0.9s ease-out; transition: all 0.9s ease-out; }
.table { display:table; }
.table-cell { display:table-cell; vertical-align:middle; text-align:center; }

#container {
	position:absolute;
	width:720px;
	height:480px;
	border:1px solid black;
	overflow-x:hidden;
	overflow-y:hidden;
}

.button {
	color:#fff;
	background:#999;
	position:absolute;
	padding:5px 15px;
	font-size:30px;
	border:3px solid #fff;
	cursor:pointer;
	font-weight:bold;
	top:200px;
}
.button.on:hover {
	color:#999;
	border-color:#999;
	background:#fff;
}

#sel {
	position:relative;
	width:720px;
	height:480px;
	white-space: nowrap;
}
#sel > div {
	position:relative;
	width:720px;
	height:480px;
	display:inline-block;
	background:#000;
	vertical-align:top;
}
.map h2 {
	position:absolute;
	text-align:center;
	left:0;
	width:100%;
	top:15px;
	font-size:40px;
	font-weight:bold;
	color:#fff;
}
.map .button.left {
	left:25px;
}
.map .button.right {
	left:642px;
}
.map .button.next {
	left:308px;
	top:400px;
}
.map .button.off {
	color:#bbb;
	border-color:#bbb;
	background:#777;
}
.boxes .p1, .boxes .p2 {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:50%;
	white-space:normal;
	color:#fff;
}
.boxes .p2 {
	left:50%;
}
.boxes .vbar {
	position:absolute;
	left:359px;
	width:2px;
	top:0;
	height:395px;
	background:#fff;
}
.boxes .classes {
	width:100%;
	height:auto;
}
.boxes .class {
	display:inline-block;
	width:119px;
	height:80px;
	border:3px solid #fff;
	cursor:pointer;
}
.weapons .class {
	width:89px;
	height:60px;
}
.boxes .class:hover {
	border-color:#090;
}
.boxes .class.active, .boxes .class.active0 {
	border-color:#22f;
}
.boxes .class.active1 {
	border-color:#66f;
}
.boxes h3 {
	font-size:25px;
	width:100%;
	text-align:center;
	margin-top:7px;
}
.boxes .button {
	left:302px;
	top:410px;
}
.boxes canvas {
	position:absolute;
	top:0;
	left:0;
}
.boxes .info {
	width:100%;
	padding:10px;
}
.weapons .info {
	padding-top:4px;
	padding-bottom:6px;
}
.boxes .info .stat {
	width:340px;
	height:15px;
	margin-bottom:5px;
}
.weapons .info .stat {
	margin-bottom:1px;
}
.boxes .info .stat .label {
	width:90px;
	display:inline-block;
	vertical-align:middle;
}
.boxes .info .stat .value {
	width:39px;
	vertical-align:middle;
	display:none;
	text-align:right;
}
.boxes .info .stat.number .value {
	display:inline-block;
}
.boxes .info .stat .bar {
	width:240px;
	height:5px;
	margin-top:2px;
	display:inline-block;
	vertical-align:middle;
	background:#f00;
}
.boxes .info .stat.number .bar {
	width:200px;
}
.boxes .info .stat .green {
	height:100%;
	background:#0f0;
}
.tanks .info .blurb {
	margin-bottom:5px;
}







#game {
	display:none;
}
#hid {
	display:none;
}
#cv {
	position:absolute;
	left: 0;
	top: 0;
}